{{extend "iview/layout/full.html"}}

{{block sider_trigger}}
<li :class="{'sider-trigger':true}"><icon id="sider_switcher" type="ios-arrow-back" size="25"/></li>
{{end sider_trigger}}

{{block sidebar}}
<sider id="iview_sider" hide-trigger :style="{background: '#fff'}">
    {{block sidemenu}}
    {{include "iview/layout/inc/sidemenu.html"}}
    {{end sidemenu}}
</sider>
{{end sidebar}}

{{block sidebarjs}}
var sider_show = true
switch_sider = function(){
    sider_show = !sider_show
    if (sider_show) {
        $("#iview_sider").show()
    }
    else {
        $("#iview_sider").hide()
    }
    $("#sider_switcher").toggleClass("ivu-icon-ios-arrow-forward",!sider_show)
    $("#sider_switcher").toggleClass("ivu-icon-ios-arrow-back",sider_show)
}
$(document).ready(function() {
    $("#sider_switcher").click(function(){
        switch_sider()
    })
})
{{end sidebarjs}}
