<!DOCTYPE html>
<html>
{{block head}}
<head>
    {{block meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {{end meta}}
    <!-- toplinks -->
    {{block resources}}{{end resources}}
    {{block pagecss}}{{end pagecss}}
    <title>{{block title}}iview layout{{end}}</title>
</head>
{{end head}}

{{block body}}
<body>

{{block container}}
{{end container}}
</body>
{{end body}}
</html>
