{{extend "iview/layout/basic.html"}}

{{block resources}}
    {{include "iview/layout/inc/common.html"}}
    {{block other_use}}{{end}}
{{end}}

{{block body}}
<body>

{{block container}}
<div id="mainapp" v-cloak>
    <div class="layout">
        <layout>
            {{block topbar}}
                <i-header>
                    {{block mainmenu}}
                    {{include "iview/layout/inc/mainmenu.html"}}
                    {{end mainmenu}}
                </i-header>
            {{end topbar}}

            {{block flash}}
                {{include "iview/layout/inc/flash.html"}}
            {{end flash}}

            {{block content_wrapper}}
            <layout>
                {{block sidebar}}{{end sidebar}}
                <layout>
                <i-content :style="{padding: '20px 20px 0px'}">
                {{block content}}
                <card>
                    <div style="min-height: 600px;">
                    </div>
                </card>
                {{end content}}
                </i-content>
                </layout>
            </layout>
            {{end content_wrapper}}
            {{block footer}}
            {{include "iview/layout/inc/footer.html"}}
            {{end footer}}
        </layout>
    </div>
</div>
{{block mainapp_vue}}
<script>
new Vue({
    el: '#mainapp'
})
</script>
{{end mainapp_vue}}
{{end container}}

</body>
{{end body}}