{{extend "adminlte/layout/basic.html"}}

{{block resources}}
{{include "adminlte/layout/inc/common.html"}}
{{end}}

{{block body}}
<body id="layout-body" class="{{block skin}}{{=settings.LAYOUT.get('skin', 'skin-blue-light')}}{{end}} sidebar-mini">
    {{block header_new}}

    {{end}}
{{block container}}
    <div class="wrapper">

        {{block topbar}}
        {{include "adminlte/layout/inc/topbar.html"}}
        {{end}}

        {{block flash}}
        {{include "adminlte/layout/inc/flash.html"}}
        {{end}}

        {{block content_wrapper}}
            {{include "adminlte/layout/inc/2column_content_wrapper.html"}}
        {{end}}



    </div>

{{end}}
{{block footer}}
        <footer class="main-footer">
            {{include "adminlte/layout/inc/footer.html"}}
        </footer>
{{end}}

</body>
{{end}}
