{{extend "adminlte/layout/basic.html"}}

{{block resources}}
{{block common_use}}{{include "adminlte/layout/inc/common.html"}}{{end common_use}}
{{block other_use}}{{end other_use}}
{{end resources}}

{{block body}}
<body id="layout-body" class="{{block skin}}{{=settings.LAYOUT.get('skin', 'skin-blue-light')}}{{end}} {{block body_class}}{{end}} full layout-top-nav">

{{block container}}
<div class="wrapper">
    {{block topbar}}
        {{include "adminlte/layout/inc/container_topbar.html"}}
    {{end topbar}}

    {{block flash}}
        {{include "adminlte/layout/inc/flash.html"}}
    {{end flash}}

    {{block content_wrapper}}
        <div class="content-wrapper">
            <div class="container">
                {{include "adminlte/layout/inc/1column_content_wrapper.html"}}
            </div>
        </div>
    {{end content_wrapper}}

    {{block footer}}
    <footer class="main-footer">
        <div class="container">
            {{include "adminlte/layout/inc/footer.html"}}
        </div>
    </footer>
    {{end footer}}

</div>
{{end container}}

</body>
{{end body}}
